<div class="modal fade" tabindex="-1" role="dialog" id="modalEdit">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" th:text="#{table.user.action.edit}"></h4>
				<button type="button" class="close"
					onclick="closeModalButton('modalEdit','userFormEditModal')" aria-label="Cerrar">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="altEditor-form" role="form" id="userFormEditModal"
					th:object="${userformEdit}" th:action="@{/menueditsave}"
					method="post" action="">
					<input type='hidden' class='primarykey' id="idUserValetEdit"
						th:field="*{idUserValetEdit}"></input>
						
					<div class="form-group">
						<label for="nameEdit" th:text="#{form.user.name}"></label>
						<script th:inline="javascript" type="text/javascript">
								/*<![CDATA[*/
								    var messageName = /*[[#{form.user.name.pattern}]]*/ 'default';
								/*]]>*/
							</script>
						<span id="nameEdit_span"
							class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill"></span>
						<input onblur="validateField(this,messageName);" type="text"
							id="nameEdit" th:field="*{nameEdit}" class="form-control"
							required pattern=".{3,15}" ></input>
					</div>
					
					<div class="form-group">
						<label for="surnamesEdit"
							th:text="#{form.user.surnames}"></label>
						<script th:inline="javascript" type="text/javascript">
								/*<![CDATA[*/
								    var messageSurname = /*[[#{form.user.surnames.pattern}]]*/ 'default';
								/*]]>*/
							</script>
						<span id="surnamesEdit_span"
							class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill"></span>
						<input onblur="validateField(this,messageSurname);" type="text"
							id="surnamesEdit" th:field="*{surnamesEdit}" class="form-control"
							required pattern=".{3,30}"></input>
					</div>
					
					<div class="form-group">
						<label for="loginEdit"
							th:text="#{form.user.login}"></label>
						<script th:inline="javascript" type="text/javascript">
								/*<![CDATA[*/
								    var messageLogin = /*[[#{form.user.login.pattern}]]*/ 'default';
								/*]]>*/
							</script>
						<span id="loginEdit_span"
							class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill"></span>
						<input onblur="validateField(this,messageLogin);" type="text"
							id="loginEdit" th:field="*{loginEdit}" class="form-control"
							required pattern=".{5,30}"></input>
					</div>

					<div class="form-group">
						<label for="emailEdit"
							th:text="#{form.user.email}"></label>
						<script th:inline="javascript" type="text/javascript">
								/*<![CDATA[*/
								    var messageEmail = /*[[#{form.user.email.pattern}]]*/ 'default';
								/*]]>*/
							</script>
						<span id="emailEdit_span"
							class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill"></span>
						<input onblur="validateField(this,messageEmail);" type="email"
							id="emailEdit" th:field="*{emailEdit}" class="form-control"
							required></input>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default"
					onclick="closeModalButton('modalEdit','userFormEditModal')" th:text="#{form.user.btn.close}"></button>
				<button type="submit" id="editBtnModal" class="btn btn-primary"
					th:text="#{form.user.btn.modify}"></button>
			</div>
		</div>
	</div>
</div>

<script th:inline="javascript" type="text/javascript">
	$( "#editBtnModal" ).click(function( event ) {
		  event.preventDefault();
			
		  var formData = JSON.stringify($("#userFormEditModal").serializeJSON());
			var tbl = $('#userTable').DataTable();
		 // var url = /*[[@{/menueditsave}]]*/;
		  var url = /*[[@{/saveuseredit}]]*/;
		  loading();
		  
		  $.ajax({
			  type: "POST",
			  url: url,
			  data: formData,
			  success: function(data){
				hide();
								
				$('#modalEdit').modal('hide');	
				tbl.row.add($(data.data)).draw(false);			
			  },
			  error:function(){
				  hide();
				  if (!$('#errorModalEdit').length > 0){
				  	$('#userFormEditModal').append('<div id="errorModalEdit" class="alert alert-danger" role="alert"><strong>Error inesperado, int\u00E9ntelo mas tarde!</strong></div>');
				  }
			  },
			  dataType: "json",
			  contentType : "application/json"
		});
	});
	
	closeModalButton
</script>