<form name="altEditor-form" role="form" id="userForm" th:object="${userform}" th:action="@{/saveuser}" method="post">
    <input type='hidden' class='primarykey' id="idUserValet" th:field="*{idUserValet}">
    
    <div class="form-group">
        <label for="nif" th:text="#{form.user.nif}"></label>
        <script th:inline="javascript" type="text/javascript">
            /*<![CDATA[*/
            var messageNif = /*[[#{form.user.nif.pattern}]]*/ 'default';
            /*]]>*/
        </script>
        <span id="nif_span" class="badge bgc-red-50 c-red-700 p-10 lh-0 badge-pill"></span>
        <input onblur="validateNif();" type="text" id="nif" th:field="*{nif}" class="form-control" required pattern=".{3,15}">
    </div>
    
    <div class="form-group">
        <label for="name" th:text="#{form.user.name}"></label>
        <script th:inline="javascript" type="text/javascript">
            /*<![CDATA[*/
            var messageName = /*[[#{form.user.name.pattern}]]*/ 'default';
            /*]]>*/
        </script>
        <span id="name_span" class="badge bgc-red-50 c-red-700 p-10 lh-0 badge-pill"></span>
        <input onblur="validateField(this, messageName);" type="text" id="name" th:field="*{name}" class="form-control" required pattern=".{3,15}">
    </div>
    
    <div class="form-group">
        <label for="surnames" th:text="#{form.user.surnames}"></label>
        <script th:inline="javascript" type="text/javascript">
            /*<![CDATA[*/
            var messageSurname = /*[[#{form.user.surnames.pattern}]]*/ 'default';
            /*]]>*/
        </script>
        <span id="surnames_span" class="badge bgc-red-50 c-red-700 p-10 lh-0 badge-pill"></span>
        <input onblur="validateField(this, messageSurname);" type="text" id="surnames" th:field="*{surnames}" class="form-control" required pattern=".{3,30}">
    </div>
    
	<div class="form-group">
		<label for="email" th:text="#{form.user.email}"></label>
		<script th:inline="javascript" type="text/javascript">
			/*<![CDATA[*/
			var messageEmail = /*[[#{form.user.email.pattern}]]*/'default';
			/*]]>*/
		</script>
		<span id="email_span"
			class="badge bgc-red-50 c-red-700 p-10 lh-0 badge-pill"></span>
		<input onblur="validateField(this, messageEmail);" type="email"
			id="email" th:field="*{email}" style="overflow: hidden"
			class="form-control" required />
	</div>
</form>

<script th:inline="javascript" type="text/javascript">
    function validateNif() {
        var messageNifConfirm = /*[[#{form.user.nif.pattern}]]*/ 'default';
        var messageNif = $('#nif').val();
        const letraDNI = 'TRWAGMYFPDXBNJZSQVHLCKET';
        const regex = /^[0-9]{8}[A-Z]$/;

        if (regex.test(messageNif)) {
            const numero = messageNif.substr(0, 8);
            const letra = messageNif.charAt(8);
            const letraCorrecta = letraDNI.charAt(parseInt(numero) % 23);

            if (letra === letraCorrecta) {
                $("#nif_span").text('');
                $("#nif_span").removeClass("badge bgc-red-50 c-red-700 p-10 lh-0 badge-pill");
            } else {
                $("#nif_span").text(messageNifConfirm);
                $("#nif_span").addClass("badge bgc-red-50 c-red-700 p-10 lh-0 badge-pill");
            }
        } else {
            $("#nif_span").text(messageNifConfirm);
            $("#nif_span").addClass("badge bgc-red-50 c-red-700 p-10 lh-0 badge-pill");
        }
    }
</script>
