<div class="modal fade" tabindex="-1" role="dialog" id="modalEdit" data-backdrop="static"
	data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" th:text="#{table.user.action.edit}"></h4>
				<button type="button" class="close"
					onclick="closeModalButton('modalEdit','userFormEditModal')" aria-label="Cerrar">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="altEditor-form" role="form" id="userFormEditModal"
					th:object="${userformEdit}" th:action="@{/menueditsave}"
					method="post" action="">
					<input type='hidden' class='primarykey' id="idUserValetEdit"
						th:field="*{idUserValetEdit}"></input>
						
					<div class="form-group">
						<label for="nifEdit" th:text="#{form.user.nif}"></label>
						<script th:inline="javascript" type="text/javascript">
								/*<![CDATA[*/
								    var messageNif = /*[[#{form.user.nif.pattern}]]*/ 'default';
								/*]]>*/
							</script>
						<span id="nifEdit_span"
							class="badge bgc-red-50 c-red-700 p-10 lh-0 badge-pill"></span>
						<input onblur="validateNif();" type="text"
							id="nifEdit" th:field="*{nifEdit}" class="form-control"
							required pattern=".{3,15}" ></input>
					</div>
					
					<div class="form-group">
						<label for="nameEdit" th:text="#{form.user.name}"></label>
						<script th:inline="javascript" type="text/javascript">
								/*<![CDATA[*/
								    var messageName = /*[[#{form.user.name.pattern}]]*/ 'default';
								/*]]>*/
							</script>
						<span id="nameEdit_span"
							class="badge bgc-red-50 c-red-700 p-10 lh-0 badge-pill"></span>
						<input onblur="validateField(this,messageName);" type="text"
							id="nameEdit" th:field="*{nameEdit}" class="form-control"
							required pattern=".{3,15}" ></input>
					</div>
					
					<div class="form-group">
						<label for="surnamesEdit"
							th:text="#{form.user.surnames}"></label>
						<script th:inline="javascript" type="text/javascript">
								/*<![CDATA[*/
								    var messageSurname = /*[[#{form.user.surnames.pattern}]]*/ 'default';
								/*]]>*/
							</script>
						<span id="surnamesEdit_span"
							class="badge bgc-red-50 c-red-700 p-10 lh-0 badge-pill"></span>
						<input onblur="validateField(this,messageSurname);" type="text"
							id="surnamesEdit" th:field="*{surnamesEdit}" class="form-control"
							required pattern=".{3,30}"></input>
					</div>
					
					<div class="form-group">
						<label for="loginEdit"
							th:text="#{form.user.login}"></label>
						<script th:inline="javascript" type="text/javascript">
								/*<![CDATA[*/
								    var messageLogin = /*[[#{form.user.login.pattern}]]*/ 'default';
								/*]]>*/
							</script>
						<span id="loginEdit_span"
							class="badge bgc-red-50 c-red-700 p-10 lh-0 badge-pill"></span>
						<input onblur="validateField(this,messageLogin);" type="text"
							id="loginEdit" th:field="*{loginEdit}" class="form-control"
							required pattern=".{5,30}"></input>
					</div>

					<div class="form-group">
						<label for="emailEdit"
							th:text="#{form.user.email}"></label>
						<script th:inline="javascript" type="text/javascript">
								/*<![CDATA[*/
								    var messageEmail = /*[[#{form.user.email.pattern}]]*/ 'default';
								/*]]>*/
							</script>
						<span id="emailEdit_span"
							class="badge bgc-red-50 c-red-700 p-10 lh-0 badge-pill"></span>
						<input onblur="validateField(this,messageEmail);" type="email"
							id="emailEdit" th:field="*{emailEdit}" class="form-control"
							required></input>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default"
					onclick="closeModalButton('modalEdit','userFormEditModal')" th:text="#{form.user.btn.close}"></button>
				<button type="submit" id="editBtnModal" class="btn btn-primary"
					th:text="#{form.user.btn.modify}"></button>
			</div>
		</div>
	</div>
</div>

<script th:inline="javascript" type="text/javascript">
	function validateNif() {
	
		var messageNifConfirm = /*[[#{form.user.nif.pattern}]]*/'default';
		
		var messageNif = $('#nifEdit').val();
		
		const letraDNI = 'TRWAGMYFPDXBNJZSQVHLCKET'; // Letras asociadas a cada número de DNI
	    // Primero, verificamos que el formato básico sea correcto: 8 dígitos seguidos de una letra
	    const regex = /^[0-9]{8}[A-Z]$/;
	
	    if (regex.test(messageNif)) {
	        // Extraemos el número (los primeros 8 dígitos) y la letra del DNI
	        const numero = messageNif.substr(0, 8);
	        const letra = messageNif.charAt(8);
	
	        // Calculamos la letra correcta que debería seguir a los dígitos proporcionados
	        const letraCorrecta = letraDNI.charAt(parseInt(numero) % 23);
	
	        // Comprobamos si la letra proporcionada coincide con la letra calculada
	        if (letra === letraCorrecta) {
	        	$("#nifEdit_span").text('');
				$("#nifEdit_span").removeClass(
						"badge bgc-red-50 c-red-700 p-10 lh-0 badge-pill");
	          // DNI válido
	        } else {
	        	$("#nifEdit_span").text(messageNifConfirm);
				$("#nifEdit_span").addClass(
						"badge bgc-red-50 c-red-700 p-10 lh-0 badge-pill");
	           // La letra no coincide
	        }
	    } else {
	    	$("#nifEdit_span").text(messageNifConfirm);
			$("#nifEdit_span").addClass(
					"badge bgc-red-50 c-red-700 p-10 lh-0 badge-pill");
	        // Formato no válido
	    }
	}
	$( "#editBtnModal" ).click(function( event ) {
		  event.preventDefault();
			
		  var formData = JSON.stringify($("#userFormEditModal").serializeJSON());
			var tbl = $('#userTable').DataTable();
		 // var url = /*[[@{/menueditsave}]]*/;
		  var url = /*[[@{/saveuseredit}]]*/;
		  loading();
		  
		  $.ajax({
			  type: "POST",
			  url: url,
			  data: formData,
			  success: function(data){
				hide();
								
				$('#modalEdit').modal('hide');	
				tbl.row.add($(data.data)).draw(false);			
			  },
			  error:function(){
				  hide();
				  if (!$('#errorModalEdit').length > 0){
				  	$('#userFormEditModal').append('<div id="errorModalEdit" class="alert alert-danger" role="alert"><strong>Error inesperado, int\u00E9ntelo mas tarde!</strong></div>');
				  }
			  },
			  dataType: "json",
			  contentType : "application/json"
		});
	});
	
	closeModalButton
</script>