<div class="modal fade" tabindex="-1" role="dialog" id="modalAddUser" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" th:if="${add}" th:text="#{form.user.title}"></h4>
				<h4 class="modal-title" th:unless="${add}" th:text="#{form.user.edit.title}"></h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="#{form.user.close}">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
			<div class="modal-body">
				<form name="userForm" role="form" id="userForm" th:object="${userform}" th:action="@{/saveuser}" method="post">
				    <input type='hidden' class='primarykey' id="idUserValet" th:field="*{idUserValet}">
				    
				    <div class="form-group">
				        <label for="nif" th:text="#{form.user.nif}"></label>
				        <input type="text" id="nif" th:field="*{nif}" class="form-control">
				        <span id="nif_span" ></span>
				    </div>
				    
				    <div class="form-group">
				        <label for="name" th:text="#{form.user.name}"></label>
				        <input type="text" id="name" th:field="*{name}" class="form-control">
				        <span id="name_span" ></span>
				    </div>
				    
				    <div class="form-group">
				        <label for="surnames" th:text="#{form.user.surnames}"></label>
				        <input type="text" id="surnames" th:field="*{surnames}" class="form-control">
				        <span id="surnames_span" ></span>
				    </div>
				    
					<div class="form-group">
						<label for="email" th:text="#{form.user.email}"></label>
						<input type="email" id="email" th:field="*{email}" style="overflow: hidden" class="form-control" />
						<span id="email_span"></span>
					</div>
				</form>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-default" th:text="#{form.user.close}" onclick="closeModalAddUser('modalAddUser')"></button>
				<button type="button" id="idNextBtn" name="idSaveUserBtn" class="btn btn-primary" th:text="#{form.user.btn.save}" onclick="saveUser();"></button>
			</div>
		</div>
	</div>
</div>



<script th:inline="javascript" type="text/javascript">
    
	function saveUser() {
		
	    var actionsaveuseredit = /*[[@{/saveuseredit}]]*/;
	    var form = document.forms["userForm"];
	    var userForm = Object.fromEntries(new FormData(form));
	    
	    cleanSpan();
	
	    loading();
	
	    $.ajax({
	    	url: actionsaveuseredit,
	        data: JSON.stringify(userForm),
	        contentType: "application/json",
	        processData: false,
	        type: 'POST',
	        success: function(data) {
	            hide();
	            var result = JSON.parse(data);
	            if (result.error) {
	                $.each(result.error, function (i, val) {
	                    $("#" + i).text(val).addClass('badge bgc-red-50 c-red-700 p-10 lh-0 badge-pill');
	                });
	            } else {
	                var tblUser = $('#userTable').DataTable();
	                tblUser.row.add(result.data).draw(false);
	                closeModalAddUser('modalAddUser');
	            }
	        }
	    });
	}

	function cleanSpan(){
		$('#userForm *').filter('span.badge').each(function(){
			$(this).text("");				
		});
	}
    
  	//Funcion para cerrar el modal
	function closeModalAddUser(modalId){
		$('#' + modalId).modal('hide');
		$('.modal-backdrop').remove();
	}
</script>
