<div class="container-fluid">
	<h4 class="c-grey-900 mT-10 mB-30" th:text="#{form.app.mappingcerttsl.title}"></h4>
	<div class="row gap-20 masonry pos-r">
		<div class="masonry-item col-md-4">
			<div class="bgc-white p-20 bd">
				<div id="errorMappingCertTsl" role="alert"></div>
				<div id="searcher" class="form-row mT-10">		
					<div class="input-group mb-3 col-md-12">
					  <input type="text" id="search" class="form-control" th:placeholder="#{form.app.mappingcerttsl.placeholder}" aria-describedby="button-search">
					  <span class="form-clear d-none glyphicon-remove-search glyphicon-remove"></span>
					  <button class="btn btn-secondary" type="button" id="button-search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
					</div>						 
				</div>						
				<!-- arbol de Mappings de Certificados TSLs-->
				<div  id="mappingCertTslTree" class="mappingCertTslTree"></div>
			</div>
		</div>
		<div class="masonry-item col-md-8">
			<div class="bgc-white p-20 bd h-100">
				<div class="mT-30 mappingCertTslForm" >
					<table id="mappingCertTslTable" class="table table-striped table-bordered" style="display:none" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th th:text="#{form.app.mappingcerttsl.table.column}"></th>
								<!--  Columna para incluir botones editar, eliminar-->
								<th></th>				
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>



<script th:inline="javascript">
var mappingCertTslTable;

$(document).ready(function() {
	loadingTreeMappingCertTsls();
});

// Función para cargar el árbol de mappings de certificados tsls
function loadingTreeMappingCertTsls() {
	var listBootstrapTreeNode = [[${listBootstrapTreeNode}]];
	
	var dataJson = JSON.stringify(listBootstrapTreeNode);
	
	// Se inicializa el arbol de mappings de certificados tsls
	mappingCertTslTable = $('#mappingCertTslTree').treeview({
		data: dataJson,
	    highlightSelected: true,
	    highlightSearchResults: true,
	    searchResultBackColor: '#CCC',
	    searchResultColor: '#428bca',
	    color: "#428bca",
	    onNodeSelected: function(event, data) {
	    	// Si existe una instancia de datatable creada previamente NO la volvemos a crear
	    	if ( $.fn.dataTable.isDataTable( '#mappingCertTslTable' ) ) {
	    		addRowsMappingCertTslsTable(data.nodeId);
	    	} else {
	    		loadingDatatableMappingCertTsls(data.nodeId);		
	    	}
	    },
		nodeUnselected (event, node) {
			
		}
	});
}

// Funcíon para cargar el datatable de mappings de certificados tsls en función de un identificador
function loadingDatatableMappingCertTsls(idMappingCertTsl) {
	
	var loadingDatatableMappingCertTsls = /*[[@{/mappingCertTslRest/loadingDatatableMappingCertTsls}]]*/;
	var isConsultant = $('#isConsultant').val();
	var btnEditMapping =  /*[[#{form.app.mappingcerttsl.table.edit.btn}]]*/;
	var btnDeleteMapping = /*[[#{form.app.mappingcerttsl.table.delete.btn}]]*/;
	var btnExport = /*[[#{form.app.mappingcerttsl.table.export.btn}]]*/;
	var btnImport = /*[[#{form.app.mappingcerttsl.table.import.btn}]]*/;
	var btnAddField = /*[[#{form.app.mappingcerttsl.table.addField.btn}]]*/;
	var btnViewCert = /*[[#{form.app.mappingcerttsl.table.viewCert.btn}]]*/;
	var btnUpdateCert = /*[[#{form.app.mappingcerttsl.table.updateCert.btn}]]*/;
	
	loading();
	
	// Se crea la instancia del datatable
	mappingCertTslTable = $('#mappingCertTslTable').DataTable({
	 	"scrollY":        "512px",
        "scrollCollapse": true,
        "info":false,
        "paging": false,
        "responsive": true,
        "select": 'single',
        "initComplete" : function(settings, json) {
			//eliminamos el scroll inferior
			$('#summaryTable_wrapper .dataTables_scrollBody').css("overflow-x", "hidden");
			//$('#summaryTable_length').addClass("hidden");
			//$('#statusSpieTable_filter').addClass("hidden");
			//$('#summaryTable_info').addClass("hidden");
			//$('#summaryTable_paginate').addClass("hidden");
			hide();
		},
		"language": {
	        "url": "js/datatables/i18n/spanish.json",
	        select: {
	        	rows: {
	                _: "%d filas seleccionadas",
	                1: "1 fila seleccionada"
	           }
	    	}
	    },
	    "columnDefs": [
		    {
	           	orderable: true,
	           	targets:   0,
	           	width: "2000px",
	        },
	        {
	           	orderable: false,
	           	targets:   1,
	           	width: "150px",
	           	render: function ( data, type, row, meta ) {
	            	
					if(isConsultant == 'true'){
						var editIcon = '<a alt='+btnEditMapping+' title='+btnEditMapping+'>	<span class="c-green-500 ti-pencil-alt icon-tb"></span></a>';
				    		  
				    	var deleteIcon = '&nbsp;&nbsp;&nbsp;<a alt='+btnDeleteMapping+' title='+btnDeleteMapping+'>	<span class="c-red-500 ti-trash icon-tb"></span></a>';
				    		
				    	if(row.associationType != '---') {
				    		editIcon += deleteIcon;
				    	}
							  
				    	return editIcon;
							
					}else{
						var editIcon = '<a onclick=editMapping('+row.idMappingCertTsl+'); alt='+btnEditMapping+' title='+btnEditMapping+'>	<span class="c-green-500 ti-pencil-alt icon-tb"></span></a>';
				    	var deleteIcon = '&nbsp;&nbsp;&nbsp;<a onclick=deleteMapping('+row.idMappingCertTsl+'"); alt='+btnDeleteMapping+' title='+btnDeleteMapping+'>	<span class="c-red-500 ti-trash icon-tb"></span></a>';
				    		
				    	if(row.associationType != '---') {
				    		editIcon += deleteIcon;
				    	}
							  
				    	return editIcon;
					}
				}
	        }
		], 
		dom: 'Bfrtip',
        buttons: [
        	{
        		extend: 'selected',
        		text: btnExport, 
        		attr: {id: 'idBtnExport'},
        		action: function ( e, dt, node, config ) {
        			var d = dt.rows({
	                	selected: !0
					});
        		}
        	},
        	{
        		extend: 'selected',
        		text: btnImport, 
        		attr: {id: 'idBtnImport'},        	
        		action: function ( e, dt, node, config ) {
        			var d = dt.rows({
	                	selected: !0
					});
        		}
        	},
        	{
        		extend: 'selected',
        		text: btnAddField, 
        		attr: {id: 'idbtnAddField'},        	
        		action: function ( e, dt, node, config ) {
        			var d = dt.rows({
	                	selected: !0
					});
        		}
        	},
        	{
        		extend: 'selected',
        		text: btnViewCert, 
        		attr: {id: 'idbtnViewCert'},        	
        		action: function ( e, dt, node, config ) {
        			var d = dt.rows({
	                	selected: !0
					});
        		}
        	},
        	{
        		extend: 'selected',
        		text: btnUpdateCert, 
        		attr: {id: 'idBtnUpdateCert'},        	
        		action: function ( e, dt, node, config ) {
					var d = dt.rows({
	                	selected: !0
					});
        		}
        	}
        ],
		"order" : [ 0, 'asc' ],
	});
	
	mappingCertTslTable.on( 'draw', function () {		
		if(isConsultant == 'true'){
			$(".dt-buttons").find('input,  button, select').attr('disabled','disabled');
			$("#mappingTable").find('input,  button, select, td, a').attr('disabled','disabled');
			
		}
    } );
	
	// Añadimos registros al datatable
	addRowsMappingCertTslsTable(idMappingCertTsl);
	
	$("#mappingCertTslTable").css("display","block");
	
	hide();
}

// Función para añadir registros a la instacia de datatable definida previamente
function addRowsMappingCertTslsTable(idMappingCertTsl) {
	var loadingDatatableMappingCertTsls = /*[[@{/mappingCertTslRest/loadingDatatableMappingCertTsls}]]*/;
	loading();
	$.ajax({
		url: loadingDatatableMappingCertTsls,
		type: 'POST',
		cache: false,
		data: $.param({'idMappingCertTsl': idMappingCertTsl}),
		success: function(xhr){
			hide();
			mappingCertTslTable.clear().draw();
			xhr.data.forEach(reg => {
				var name = reg.name;
				var idMappingCertTsl = reg.idMappingCertTsl;
				mappingCertTslTable.row.add([name, idMappingCertTsl]).draw(false);
			})
		}
	});
}
</script>