
<div class="sidebar">
	<div class="sidebar-inner">
		<!-- ### $Sidebar Header ### -->
		<div class="sidebar-logo">
			<div class="peers ai-c fxw-nw">
				<div class="peer peer-greed">
					<a class="sidebar-link td-n" th:href="@{/inicio}">
						<div class="peers ai-c fxw-nw">
							<div class="peer">
								<div class="logo">
									<img th:src="@{images/chart_logo.png}" alt="valET Logo" />
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="peer">
					<div class="mobile-toggle sidebar-toggle">
						<a href="" class="td-n"> <i class="ti-arrow-circle-left"></i>
						</a>
					</div>
				</div>
			</div>
		</div>

		<!-- ### $Sidebar Menu ### -->
		<form id="formMenu" class="form-sidebar">
			<ul class="sidebar-menu scrollable pos-r">
				<li class="nav-item mT-30 active"><a class="sidebar-link"
					th:href="@{/inicio}"> <span class="icon-holder"> <i
							class="c-blue-500 ti-home"></i>
					</span> <span class="title" th:text="#{menu.inicio}"></span>
				</a></li>
				<li class="nav-item"><a id="aUserAdmin" class='sidebar-link'
					href="#"> <span class="icon-holder"> <i
							class="c-brown-500 ti-user"></i>
					</span> <span class="title" th:text="#{menu.admin.user}"></span> <script
							th:inline="javascript">
	                 	var actionUser = /*[[@{/useradmin}]]*/;
	                 	$('#aUserAdmin').click(function(e){e.preventDefault(); loadIntoAjax('formMenu', actionUser, 'optionReplacement', 'GET', null, true); return false;});
	                </script>
				</a></li>
				<li class="nav-item"><a id="aTslAdmin" class='sidebar-link'
					href="#"> <span class="icon-holder"> <i
							class="c-green-500 ti-panel"></i>
					</span> <span class="title" th:text="#{menu.admin.tsl}"></span> <script
							th:inline="javascript">
	                 	var actionTsl = /*[[@{/tsladmin}]]*/;
	                 	$('#aTslAdmin').click(function(e){e.preventDefault(); loadIntoAjax('formMenu', actionTsl, 'optionReplacement', 'GET', null, true); return false;});
	                </script>
				</a></li>
								<li class="nav-item"><a id="aAppAdmin" class='sidebar-link'
					href="#"> <span class="icon-holder"> <i
							class="c-purple-500 ti-layout-tab-window"></i>
					</span> <span class="title" th:text="#{menu.admin.app}"></span> <script
							th:inline="javascript">
	                 	var actionApp = /*[[@{/appadmin}]]*/;
	                 	$('#aAppAdmin').click(function(e){e.preventDefault(); loadIntoAjax('formMenu', actionApp, 'optionReplacement', 'GET', null, true); return false;});
	                </script>
				</a></li>
				<li class="nav-item dropdown"><a id="aKeystoreAdmin"
					class='sidebar-link' href="#"> <span class="icon-holder">
							<i class="c-red-500 ti-key"></i>
					</span> <span class="title" th:text="#{menu.admin.keystore}"></span>
				</a>
					<ul class="dropdown-menu">
						<li class="nav-item" th:each="keystore:${listkeystore}"><a
							class="nav-link c-grey-800 cH-blue-500 active"
							th:id="'aKeystore' + ${keystore.idKeystore}" href="#"
							th:onclick="|loadCertificatesDatatable('${keystore.idKeystore}')|">
								<span class="icon-holder"> <i class="c-red-300 ti-key"></i>
							</span> <span class="title" th:text="${keystore.name}" />
						</a></li>
					</ul></li>
				<li class="nav-item dropdown"><a id="aTaskAdmin"
					class='sidebar-link' href="#"> <span class="icon-holder">
							<i class="c-teal-500 ti-calendar"></i>
					</span> <span class="title" th:text="#{menu.admin.task}"></span>
				</a>
					<ul class="dropdown-menu">
						<li class="nav-item" th:each="task:${listtask}">
						<a
							class="nav-link c-grey-800 cH-blue-500 active"
							th:id="'aTask' + ${task.idTask}" href="#"
							th:onclick="|loadTask('${task.idTask}')|"> 
							<span class="icon-holder"> 
							<i class="c-teal-300 ti-reload"></i>
							</span>
							<span class="title" th:text="${task.tokenName}" />
						</a></li>
					</ul></li>
				<li class="nav-item dropdown"><a class='sidebar-link' href="#">
						<span class="icon-holder"><i
							class="c-orange-500 ti-alarm-clock"></i></span> <span class="title"
						th:text="#{menu.admin.gestion_alarm}"></span>
				</a>
					<ul class="dropdown-menu">
						<li class="nav-item">
						<a id="aMailAdmin" class='nav-link c-grey-800 cH-blue-500 active' href="#"> 
						 <span class="icon-holder">
						<i class="c-orange-300 ti-agenda"></i>
						</span>
						<span class="title" th:text="#{menu.admin.mail}"></span> <script
									th:inline="javascript">
		                 			var actionMail = /*[[@{/mailadmin}]]*/;
		                 			$('#aMailAdmin').click(function(e){e.preventDefault(); loadIntoAjax('formMenu', actionMail, 'optionReplacement', 'GET', null, true); return false;});
		               			</script>
						</a></li>
						<li class="nav-item"><a id="aAlarmAdmin" class='nav-link c-grey-800 cH-blue-500 active' href="#">  <span class="icon-holder">
						<i class="c-orange-300 ti-alarm-clock"></i>
						</span><span
								class="title" th:text="#{menu.admin.alarm}"></span> <script
									th:inline="javascript">
		                 			var actionAlarm = /*[[@{/alarmadmin}]]*/;
		                 			$('#aAlarmAdmin').click(function(e){e.preventDefault(); loadIntoAjax('formMenu', actionAlarm, 'optionReplacement', 'GET', null, true); return false;});
		               			</script>
						</a></li>
					</ul></li>

				<li class="nav-item dropdown"><a class='sidebar-link' href="#">
						<span class="icon-holder"><i
							class="c-black-500 ti-settings"></i></span> <span class="title"
						th:text="#{menu.admin.conf}"></span>
				</a>
					<ul class="dropdown-menu">
						<li><a id="aConfServerAdmin" class='sidebar-link' href="#">
								<span class="icon-holder"><i class="c-black-500 ti-email"></i></span>
								<span class="title" th:text="#{menu.admin.confServerMail}"></span>
								<script th:inline="javascript">
		                 			var actionConfMail = /*[[@{/confmailadmin}]]*/;
		                 			$('#aConfServerAdmin').click(function(e){e.preventDefault(); loadIntoAjax('formMenu', actionConfMail, 'optionReplacement', 'GET', null, true); return false;});
		               			</script>
						</a></li>
						<li><a id="aConfProxyAdmin" class='sidebar-link' href="#">
								<span class="icon-holder"><i class="c-black-500 ti-world"></i></span>
								<span class="title" th:text="#{menu.admin.confServerWorld}"></span>
								<script th:inline="javascript">
		                 			var actionConfWorld = /*[[@{/loadproxy}]]*/;
		                 			$('#aConfProxyAdmin').click(function(e){e.preventDefault(); loadIntoAjax('formMenu', actionConfWorld, 'optionReplacement', 'GET', null, true); return false;});
		               			</script>
						</a></li>
					</ul></li>

			</ul>
		</form>
	</div>
</div>
<script th:inline="javascript">
//funcion para cargar certificados
function loadCertificatesDatatable(idKeystore) {
var idKeystore = idKeystore;
var loadCertificatesDt =/*[[@{/loadcertificatesdatatable?idKeystore=}]]*/;
var loadCertificateKeystore= loadCertificatesDt+idKeystore;
loadIntoAjax('formMenu', loadCertificateKeystore, 'optionReplacement', 'GET', null, true);

}

//función para cargar la tarea
function loadTask(idTask){
	var idTask = idTask;
	var loadTask =/*[[@{/loadtask?idTask=}]]*/;
	var loadTaskId = loadTask+idTask;
	loadIntoAjax('formMenu', loadTaskId, 'optionReplacement','GET', null, true);
}
</script>