<h4 class="c-grey-900 mB-20" th:text="#{task.admin.title}"></h4>

<div class="row gap-20 masonry pos-r">

	<div class="masonry-item col-md-10">

		<div class="bgc-white p-20 bd">

			<h5 class="c-grey-900" th:text="#{task.title}+': '+${taskform.name}" />

			<div class="mT-30">
				<form name="altEditor-form" role="form" id="taskFormId"
					th:object="${taskform}" th:action="@{/updatetask}" method="post">
					<div id="messageUpdateTaskId" role="alert"></div>

					<input type='hidden' class='primarykey' id="idTask"
						th:field="*{idTask}"> <input type='hidden' id="idPlanner"
						th:field="*{idPlanner}">
	<!-- Campo tarea activa -->
					<div class="form-group row">
<label for="enabledId" th:text="#{task.form.active}"
							class="col-sm-3" />
						
						<div class="col-sm-2">
							<div class="form-check">
								<label class="form-check-label"> <input type="checkbox"
									id="enabledId" th:field="*{isEnabled}"> &nbsp;
								</label>
							</div>
						</div>
					</div>
					<!-- Campo tipo de planificador -->
					<div class="form-group row">
						<label for="typePlannerId" th:text="#{task.form.typePlanner}"
							class="col-sm-3" />
						<div class="col-sm-3">
							<select id="typePlannerId" class="form-control"
								th:field="*{idPlannerType}">
								<option th:each="tp: ${typePlanners}"
									th:value="${tp.idConstant}" th:text="${tp.value}"
									th:selected="${taskform.idPlannerType == tp.idConstant}" />
							</select>
						</div>
					</div>
				
					<!-- Campos Periodo  -->
					<div class="form-group row">
						<label for="hourId" class="col-sm-3" th:text="#{task.form.period}"></label>
						<div class="col-sm-1">
							<input type="number" class="form-control" id="hourId"
								th:field="*{hourPeriod}" min="0" max="23"
								th:readonly="${isDisabledPeriod}">
						</div>
						<div class="col-sm-1">
							<input type="number" class="form-control" id="minuteId"
								th:field="*{minutePeriod}" min="0" max="59"
								th:readonly="${isDisabledPeriod}">
						</div>
						<div class="col-sm-1">
							<input type="number" class="form-control" id="secondId"
								th:field="*{secondPeriod}" min="0" max="59"
								th:readonly="${isDisabledPeriod}">
						</div>
					</div>
					<div class="form-group row">
						<label for="initDayId" class="col-sm-3"
							th:text="#{task.form.initDay}"></label>
						<div class="col-sm-3">
							<div class="input-group date" id="datetimepicker1">
								<input type='text' class="form-control" id="initDayId"
									th:field="*{initDayString}"> <span
									class="input-group-addon"> <span
									class="glyphicon glyphicon-calendar"></span>
								</span>

							</div>
						</div>
					</div>
			</div>
			<div class="peer">
				<button id="updateTaskBtn" type="submit"
					th:text="#{task.btn.update} " class="btn btn-primary"></button>

			</div>

			</form>

		</div>
	</div>
</div>




<script th:inline="javascript">
	$(document).ready(function() {
	
		//función para configurar el elemento datetimepicker
		$('#datetimepicker1').datetimepicker({
		 format: 'DD/MM/YYYY HH:mm:ss',
		 widgetPositioning:{
			horizontal: 'auto',
			vertical: 'top'
		}
		});

		//si se cambia el tipo de planificador
		$("#typePlannerId").change(function(){
		if($("#typePlannerId").val() == 0 || $("#typePlannerId").val() == 2 ){
			$('#hourId').attr('readonly', true);
		   $('#minuteId').attr('readonly', true);
		   $('#secondId').attr('readonly', true);
		   $('#hourId').attr('disabled', true);
		   $('#minuteId').attr('disabled', true);
		   $('#secondId').attr('disabled', true);
		}else{
		$('#hourId').attr('readonly', true);
			$('#hourId').attr('readonly', false);
		   $('#minuteId').attr('readonly', false);
		   $('#secondId').attr('readonly', false);
		   $('#hourId').attr('disabled', false);
		   $('#minuteId').attr('disabled', false);
		   $('#secondId').attr('disabled', false);
		}
		});
		
		
		$("#updateTaskBtn").click(function (event){
			event.preventDefault();
			var formData = JSON.stringify($("#taskFormId").serializeJSON());
			var urlUpdateTask = /*[[@{/updatetask}]]*/;

			 loading();
			 
			 //se borra si existiera algún mensaje
			$('#messageUpdateTaskId').html("");
			$('#messageUpdateTaskId').removeClass('alert alert-success');
			$('#messageUpdateTaskId').removeClass('alert alert-danger');
			 $.ajax({
				 type: "POST",
				 url: urlUpdateTask,
				 data: formData,
				 dataType :"json",
				 contentType:"application/json",
				success: function(data, error){
					 hide();
					if(data.msgOk != "" && data.msgOk != null){
							$('#messageUpdateTaskId').html(data.msgOk);
							$('#messageUpdateTaskId').addClass('alert alert-success');
						}
					if(data.error != "" && data.error != null){
							$('#messageUpdateTaskId').html(data.error);
							$('#messageUpdateTaskId').addClass('alert alert-danger');
					}
				 },
				 error: function(data){
					 if(data.error != "" && data.error != null){
						$('#messageUpdateTaskId').html(data.error);
						$('#messageUpdateTaskId').addClass('alert alert-danger');
					}
				}
			 });//fin ajax

		});
	});
</script>