<div class="container-fluid">
	<h4 class="c-grey-900 mT-10 mB-30" th:text="#{user.admin.title}"></h4>
	<div class="row">
		<div class="col-md-12">
			<div class="bgc-white bd bdrs-3 p-20 mB-20">
				<h4 class="c-grey-900 mB-20" th:text="#{table.user.title}"></h4>
				<div id="messageError" role="alert"></div>
				<table id="userTable" class="table table-striped table-bordered"
					cellspacing="0" width="100%">
					<thead>
						<tr>
							<!-- Columna oculta para el identificador de usuario -->
							<th></th>
							<th th:text="#{table.user.name}"></th>
							<th th:text="#{table.user.surname}"></th>
							<th th:text="#{table.user.nif}"></th>
							<th th:text="#{table.user.email}"></th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>

<script th:inline="javascript">
$(document).ready(function() {
	
	var getusers = /*[[@{/usersdatatable}]]*/;
	
	var btnAddUser =  /*[[#{table.user.action.add}]]*/;
	var btnEditUser =  /*[[#{table.user.action.edit}]]*/;
	var btnDelUser = /*[[#{table.user.action.delete}]]*/;
	var usernameLogged = /*[[${#httpServletRequest.remoteUser}]]*/;
	
	var tbl = $('#userTable').DataTable({
		dom: 'Bfrtip',
	    select: 'single',
	    responsive: true,
	    buttons: [
	    	{
		        text: btnAddUser,
		        name: 'add',
		        action: function (e, dt, node, config) {
		            var adduser = /*[[@{/adduser}]]*/;
		            loading();
					$.ajax({
		                url: adduser,
		                type: 'POST',
		                cache: false,
		                success: function(xhr) {
		                	hide();
		                    $('#modal').html(xhr);
		                    $('#modalAddUser').modal('show');
		                }
		            });
		        }
		    },
	    	{
		        text: btnEditUser,
		        name: 'edit',
		        action: function (e, dt, node, config) {
		            var editUser = /*[[@{/editUser}]]*/;
		            
		         	// Obtenemos la fila seleccionada
		        	var selectedRow = dt.row({ selected: true }).data();
		        	
		        	// Obtenemos el id
		        	var nif = selectedRow.nif;
		            
		            loading();
					$.ajax({
		                url: editUser,
		                data: { nif: nif },
		                type: 'POST',
		                cache: false,
		                success: function(xhr) {
		                	hide();
		                    $('#modal').html(xhr);
		                    $('#modalAddUser').modal('show');
		                }
		            });
		        },
		    	enabled: false  // Deshabilitado por defecto
		    },
		    {
		        text: btnDelUser,
		        name: 'delete',
		        action: function (e, dt, node, config) {
		            var deleteUserView = /*[[@{/deleteuserview}]]*/;
		            
		            loading();
					$.ajax({
		                url: deleteUserView,
		                type: 'POST',
		                cache: false,
		                success: function(xhr) {
		                	hide();
		                    $('#modal').html(xhr);
		                    $('#modalDeleteUser').modal('show');
		                }
		            });
		        },
		    	enabled: false  // Deshabilitado por defecto
		    },
	    ],
	    "iTotalRecords": "totalElements",
        "iTotalDisplayRecords": "numberOfElements",
	    
		"processing": false,
	    "serverSide": true,
		"ajax": {
	        "url": getusers,
	        "dataSrc" : "data"
	    },
	    "language": {
	        "url": "js/datatables/i18n/spanish.json",
	        select: {
	            rows: {
	                _: "%d filas seleccionadas",
	                1: "1 fila seleccionada"
	            }
	          }
	        },
		"columns": [
	        { "data": "idUserValet",
	          "visible": false},
	        { "data": "name" },
	        { "data": "surnames" },
	        { "data": "nif" },
	        { "data": "email" }
	        ]
	});
	
	//Actualizar el estado de los botones al seleccionar o deseleccionar filas
	$('#userTable').on('select.dt deselect.dt', function () {
	    var dt = $(this).DataTable(); // obtenemos el datatable que ha disparado el evento
	    var selectedRows = dt.rows({ selected: true }).count();

	    dt.button('edit:name').enable(selectedRows > 0);
	    dt.button('delete:name').enable(selectedRows > 0);
	});
	
});	
