<form name="altEditor-form" role="form" id="appForm"
	th:object="${appform}" th:action="@{/saveapp}" method="post">
	<div id="errorAddApp" role="alert"></div>

	<div class="form-group">
		<label for="identificator" th:text="#{form.app.identificator}"></label>
		<script th:inline="javascript" type="text/javascript">
			/*<![CDATA[*/
			var messageIdent = /*[[#{form.app.identificator.val}]]*/'default';
			/*]]>*/
		</script>
		<span id="identifier_span"
			class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill"></span>
		<input onblur="validateField(this,messageIdent);" type="text"
			id="identificator" th:field="*{identifier}" class="form-control"
			required></input>
	</div>
	<div class="form-group">
		<label for="name" th:text="#{form.app.name}"></label>
		<script th:inline="javascript" type="text/javascript">
			/*<![CDATA[*/
			var messageName = /*[[#{form.app.name.val}]]*/'default';
			/*]]>*/
		</script>
		<span id="name_span"
			class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill"></span>
		<input onblur="validateField(this,messageName);" type="text" id="name"
			th:field="*{name}" class="form-control" required></input>
	</div>
	<!-- Datos de Responsable -->
	<div class="mT-20">
		<div class="bgc-white p-20 bd">
			<h6 class="c-grey-900" th:text="#{form.app.responsible}"></h6>
			<div class="mT-5">
				<div class="form-group">
					<label for="responsibleName" th:text="#{form.app.resp.name}"></label>
					<script th:inline="javascript" type="text/javascript">
						/*<![CDATA[*/
						var messageRespName = /*[[#{form.app.respName.val}]]*/'default';
						/*]]>*/
					</script>
					<span id="responsibleName_span"
						class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill"></span>
					<input onblur="validateField(this,messageRespName);" type="text"
						id="responsibleName" th:field="*{responsibleName}"
						class="form-control" required></input>
				</div>
				<div class="form-group">
					<label for="responsibleSurnames"
						th:text="#{form.app.resp.surnames}"></label>
					<script th:inline="javascript" type="text/javascript">
						/*<![CDATA[*/
						var messageResSurnames = /*[[#{form.app.respSurnames.val}]]*/'default';
						/*]]>*/
					</script>
					<span id="responsibleSurnames_span"
						class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill"></span>
					<input onblur="validateField(this,messageResSurnames);" type="text"
						id="responsibleSurnames" th:field="*{responsibleSurnames}"
						class="form-control" required></input>
				</div>
				<div class="form-group">
					<label for="responsibleMail"
						th:text="#{form.app.resp.email}"></label>
					<script th:inline="javascript" type="text/javascript">
						/*<![CDATA[*/
						var messageRespMail = /*[[#{form.app.email.val}]]*/'default';
						/*]]>*/
					</script>
					<span id="responsibleMail_span"
						class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill"></span>
					<input onblur="validateField(this,messageRespMail);" type="email"
						id="responsibleMail" th:field="*{responsibleMail}"
						class="form-control" required></input>
				</div>
				<div class="form-group">
					<label for="responsiblePhone"
						th:text="#{form.app.resp.phone}"></label>
					<script th:inline="javascript" type="text/javascript">
						/*<![CDATA[*/
						var messageRespPhone = /*[[#{form.app.phone.val}]]*/'default';
						/*]]>*/
					</script>
					<span id="responsiblePhone_span"
						class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill"></span>
					<input onblur="validateField(this,messageRespPhone);"  type="text" pattern="[0-9]{9}"
						id="responsiblePhone" th:field="*{responsiblePhone}"
						class="form-control" required></input>
				</div>
			</div>
		</div>
	</div>


</form>




