body {
	font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	    
    font-weight: 500;
	color: #72777a;
}

ul {
	font-size: 20px;
}
h3{
	font-size:30px;
}
.app{
	margin-left: 100px;
  margin-right: 10px;
  margin-top: 50px;
  margin-bottom: 10px;
}
