<!-- Modal para editar mapeo -->
<div class="modal fade" tabindex="-1" role="dialog"
	id="modalEditMapping" data-backdrop="static"
	data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" th:text="#{form.editMapping.title}"></h4>
				<button type="button" class="close"
					onclick="closeModalButton('modalEditMapping', 'mappingTslEditForm')"
					aria-label="Cerrar">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="altEditor-form" role="form" id="mappingTslEditForm"
					th:object="${mappingtslform}" method="post">
					<div id="errorMapping" role="alert"></div>
					<input type='hidden' id="idCodeContryRegion"
						th:field="*{codeCountryRegion}"></input> <input type='hidden'
						id="idCountryRegionMappingEd"
						th:field="*{idTslCountryRegionMapping}"></input> <input
						type='hidden' id="idCountryRegionEd"
						th:field="*{idTslCountryRegion}"></input>
						<input type='hidden' id="indexRowMapping" th:field="*{rowIndexMapping}" />

					<div class="form-group col-md-4">
						<label for="idMappingType" th:text="#{form.newMapping.type}"></label>
						<select id="idMappingType" name="idMappingType"
							class="form-control" th:field="*{idMappingType}"
							onchange="showMappingTypeValueField();">
							<option th:each="ta: ${listTypes}" th:value="${ta.idConstant}"
								th:text="${ta.value}"
								th:selected="${mappingtslform.idMappingType == ta.idConstant}"></option>
						</select>
					</div>
					<div class="form-group col-md-12">
						<label for="idIdentificatorEd"
							th:text="#{form.newMapping.identificator}"></label> <input
							type="text" id="idIdentificatorEd" class="form-control"
							th:field="*{mappingIdentificator}" readonly></input>
						<div style="clear: both;"></div>
					</div>
					<div id="idDivMappingFreeValueEd" class="form-group col-md-12"
						th:attr="style=${mappingtslform.idMappingType == 4 ? 'display:block' : 'display:none'}">
						<label for="idFreeValueEd" th:text="#{form.newMapping.value}"></label>
						<span id="mappingValue_span"
							class="badge bgc-red-50 c-red-700 p-10 lh-0 badge-pill"></span> <input
							type="text" id="idFreeValueEd" class="form-control"
							th:field="*{mappingFreeValue}"
							onchange="cleanSpan('mappingValue_span');"></input>
						<div style="clear: both;"></div>
					</div>
					<div id="idDivMappingSimpleValueEd" class="form-group col-md-12"
						th:attr="style=${mappingtslform.idMappingType == 0 ? 'display:block' : 'display:none'}">
						<label for="idSimpleValue" th:text="#{form.newMapping.value}"></label>
						<span id="mappingValue_span"
							class="badge bgc-red-50 c-red-700 p-10 lh-0 badge-pill"></span> <select
							id="idSimpleValueEd" class="form-control"
							th:field="*{mappingSimpleValue}">
							<option th:each="asv: ${listAssocSimpleValues}"
								th:value="${asv.idConstant}" th:text="${asv.value}"
								th:selected="${mappingtslform.mappingSimpleValue == asv.idConstant}"></option>
						</select>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default"
					onclick="closeModalButton('modalEditMapping', 'mappingTslEditForm')"
					th:text="#{form.editMapping.btn.close}"></button>

				<button type="button" id="idEditMappingBtn" class="btn btn-primary"
					th:text="#{form.editMapping.btn.modify}" onclick="modifyMapping();"></button>
			</div>
		</div>
	</div>
</div>
<script th:inline="javascript">
function showMappingTypeValueField() {
	var mappingTypeValue = $("#idMappingType").val();
    if (mappingTypeValue == "4") {
        $("#idDivMappingFreeValueEd").prop("style", "display:block");
		$("#idDivMappingSimpleValueEd").prop("style", "display:none");
    } else if (mappingTypeValue == "0") {
		$("#idDivMappingFreeValueEd").prop("style", "display:none");
        $("#idDivMappingSimpleValueEd").prop("style", "display:block");
    }
}
//método para editar mapeo
function modifyMapping() {

var index =  $("#indexRowMapping").val();
	var actionSaveMapping = /*[[@{/modifymappingtsl}]]*/;
	var formDataMapping =JSON.stringify($("#mappingTslEditForm").serializeJSON());
	var tblMapping = $('#mappingTable').DataTable();
 	$.ajax(actionSaveMapping, {
		data :formDataMapping, 
	processData:false,
		 contentType:"application/json",
		type : 'POST',
		success: function(data){
		
			var errores = JSON.parse(data.error);
			if (data.error != null){
					 	hide();
				  jQuery.each(errores, function(i, val) {
					  if( i == "errorSaveMapping"){
						  var messageError = val;
							$('#errorMapping').html(messageError);
							$('#errorMapping').addClass('alert alert-danger');  
					  }
					  $('#mappingTslEditForm *').filter('span').each(function(){
								if (i == $(this).attr('id')){
									$("#" + i).text(val);
									$("#" + i).addClass('badge bgc-red-50 c-red-700 p-10 lh-0 badge-pill');
								}
							});
				  })

			  }else{
//se añade nuevo valor
			
			 if(index != null){
				
				 var row = tblMapping.row(data.rowIndexHeader).data();
	
				 var valueMapping = data.data[0].mappingValue;
					row.mappingValue= valueMapping;
				
					$('#mappingTable').dataTable().fnUpdate(valueMapping,index,2,false);
			 }else{
			  tblMapping.row.add($(data.data)).draw(false);
			 }
			 
			  $('#modalEditMapping').modal('hide');
				$("#mappingTslEditForm")[0].reset();
  
}
	},
	error : function(data){
		// se oculat al capa 'cargando...'
		hide();
		//se cierra modal
        $('#modalEditMapping').modal('hide');

	}
	});
}
</script>