<!-- Modal para eliminar un mapeo -->
<div class="modal fade" tabindex="-1" role="dialog"
	id="modalDeleteMapping" data-backdrop="static"
	data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" th:text="#{form.deleteMapping.title}"></h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="#{form.deleteMapping.btn.close}">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="altEditor-form" role="form" id="mappingTslDeleteForm"
					method="post" th:object="${mappingtslform}">

					<input type='hidden' id="idCountryRegionMappingDel"
						th:field="*{idTslCountryRegionMapping}"></input> <input
						type='hidden' id="rowIndexMappingDel"
						th:field="*{rowIndexMapping}"></input>
						<input
						type='hidden' id="idCodeCountryRegion"
						th:field="*{codeCountryRegion}"></input>

					<p th:text="#{form.deleteMapping.message}"></p>

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default"
					th:text="#{form.deleteMapping.btn.close}" th:alt="#{form.deleteMapping.btn.close}"
					onclick="closeModalButton('modalDeleteMapping', 'mappingTslDeleteForm')"></button>
				<button type="button" id="idDeleteMappingBtn"
					class="btn btn-danger" th:text="#{form.deleteMapping.btn.delete}" th:alt="#{form.deleteMapping.btn.delete}"
					onclick="deleteMappingTsl();"></button>
			</div>
		</div>
	</div>
</div>
<script th:inline="javascript">
//borrar el par identificador/valor seleccionado
function deleteMappingTsl(){
	var formDataMapping = new FormData(document.forms["mappingTslDeleteForm"]);	
	var deleteMapping = /*[[@{/deletemappingbyid}]]*/;
	var tblMapping = $('#mappingTable').DataTable();
	$.ajax(deleteMapping,{
		data:formDataMapping,
		type:'POST',
		contentType: false,
		processData : false,
		success: function(data){
		//Se oculta la capa 'cargando...'
		hide();
		closeModalButton('modalDeleteMapping', 'mappingTslDeleteForm');
		 tblMapping.ajax.reload();
    	//tblMapping.row(data.index).remove().draw();
		},
		error:function(){
			closeModalButton('modalDeleteMapping', 'mappingTslDeleteForm');
		}
		});
}

</script>