<div class="modal fade" tabindex="-1" role="dialog"
	id="modalTryConnExAccess" data-backdrop="static" data-keyboard="false"
	onload="tryConn()">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" th:text="#{table.externalAccess.title}"></h4>
				<button type="button" class="close" id="idButtonClosedX"
					onclick="closeModal('modalTryConnExAccess')" aria-label="Cerrar">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table id="externalAccessTableModal"
					class="display table table-striped table-bordered" cellspacing="0"
					width="100%">
					<thead>
						<tr>
							<!-- Columna oculta para el identificador de aplicación -->
							<th></th>
							<th th:text="#{table.externalAccess.url}"></th>
							<th th:text="#{table.externalAccess.stateConn}"></th>
							<th th:text="#{table.externalAccess.detailError}"></th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" id="idButtonClosed"
					onclick="closeModal('modalTryConnExAccess')"
					th:text="#{form.user.btn.close}"></button>
			</div>
		</div>
	</div>
</div>

<script th:inline="javascript" type="text/javascript">
var tblModal;
var id;
var contador = 0;
var longitud = 0;
var ids = [];
var contadorBloque=0;
var btnGenerateReport =  /*[[#{table.externalAccess.report}]]*/;
var btnTryConn = /*[[#{table.externalAccess.tryConn}]]*/;
var btnDelApp  = /*[[#{table.app.btn.del}]]*/;
var getExternalAccessInicial =/*[[@{/externalAccessDatatableInicial}]]*/;
var getExternalAccess =/*[[@{/externalAccessDatatable}]]*/;
var eaTemplate = /*[[@{/addexternalAccess}]]*/;
var actionTryConn = /*[[@{/tryConn}]]*/;
var actionTryConns = /*[[@{/tryConns}]]*/;
var messageSelectTableToTry = /*[[#{table.externalAccess.tryConnError}]]*/;
$(document).ready(function() {
	$('#idButtonClosedX').hide();
    $('#idButtonClosed').hide();
    createDatatable();
    setTimeout(tryConn, 500);
});


function createDatatable(){
	tblModal = $('#externalAccessTableModal').DataTable({
		data: dataSet,
		dom: 'frtip',
		select:false,
		responsive: true, 
		altEditor: true,
	    autoWidth: false, // This parameter must be set to false
		"iTotalRecords": "totalElements",
		"iTotalDisplayRecords": "numberOfElements",
		"processing": false,
		"language": {
			"url":"js/datatables/i18n/spanish.json",
			select: {
				 rows: {
		                _: "%d filas seleccionadas",
		                1: "1 fila seleccionada"
		            }
			}
		},
		"columns":[
			 {"data": "idUrl","visible":false},
			 {"data": "url","width":"55%", render: function (data, type, full, meta) {
                 return  "<span style='word-break: break-word;'>" + data + "</span>";
             }},
			 {"data": "stateConn", "width":"15%","render": function(data, type, row){
				 if (data == false) {
						return "<span value='1' style='visibility: hidden;'>1</span><i class='ti-close' style='color: #e62d2d;font-weight: bold;'></i>";
	     		} else if (data == true){
						return "<span value='0' style='visibility: hidden;'>0</span><i class='ti-check' style='color: #3da03b;font-weight: bold;'></i>";
					} else {
						return "<span value='1' style='visibility: hidden;'>1</span><i class='ti-close' style='color: #e62d2d;font-weight: bold;'></i>";
					}
			 }},
			 {"data":"messageError","width":"10%", "render":function(data,type,row){
				 if (data != "") {
					 return "<button id='openDetails' class='some-class'><span class='ti-angle-double-down' style='color: #e62d2d;font-weight: bold;'></span></button>";
					 
				 }else{ return null;}
			 }}
		]
	})
}

$(document).on('click', '.some-class', function(e){ 
	
	 e.stopImmediatePropagation();
	var tr = $(this).closest('tr');
    var row = tblModal.row( tr );

    if ( row.child.isShown() ) {
        // This row is already open - close it
        row.child.hide();
        tr.removeClass('shown');
    }
    else {
        // Open this row
        var d = row.data();
        row.child( 
                 '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
    '<tr>'+
        '<td>Detalles:</td>'+
        '<td>'+d.messageError+'</td>'+
    '</tr>'+
'</table>').show();
        tr.addClass('shown');
    }
});

function tryConn() {
	debugger;
    loading();
	var valores = [];
    var table = $("#externalAccessTable").DataTable();
    var data = table.rows().nodes();
    data.each(function (value, index) {
        var valor = value.cells[4].children[0].value;
        var check = value.cells[4].children[0].checked;
        if (check)
        {
       	 valores.push(valor);
        }            
    }); 

	var rows = valores;
	for (i = 0; i <= rows.length; i++){
		contadorBloque ++
		if(contadorBloque<=10){
			ids.push(rows[i]);
		}
		if(contadorBloque == 10 || i == rows.length){
			var valoresIds = ids;
			ids = [];
			contadorBloque=0;
			TryConnsAjax(valoresIds);
			
		}
	} 
}

	
	
function TryConnsAjax(ids){
	longitud++
	$.ajax({
		url : actionTryConns,
		data: {'ids':ids},
		type: 'POST',
		success: function(data){
	        	
	        	if(data.error != "" && data.error != null){
					$('#messageSearchExternalAccess').html(data.error);
					$('#messageSearchExternalAccess').addClass('alert alert-danger');
				}else{
					 tblModal.rows.add(data).draw();
				}
	        },
	        error:function(data){
	        	// Se oculta la capa 'cargando...'
	        	hide();
		}, 
		complete: function(data){
			contador++;
			if(contador == longitud){
				hide();
				$('#idButtonClosedX').show();
			    $('#idButtonClosed').show();

			}
		}
	});
}

$('#idButtonClosedX').click(function(event) {   
	debugger;
	search();
});

$('#idButtonClosed').click(function(event) {   
	debugger;
	search();
});

 
</script>